@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.productInfoBody{
    max-width: 1300px;
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    justify-content: center;
    grid-gap: 30px;
}

.productSection{
    height: 500px;
    width: 600px;
    margin: 3px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 3px  #b7b4b4;
}

.productSection2{
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 100px 350px;
    justify-content: center;
    grid-gap: 20px;
}

.productInfo{
    height: 100%;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
}

.productInfo button{
    background-color: #008ECC;
    height: 100px;
    width: 100%;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    transition-duration: 0.3s ;
    border: none;
}

.productInfo button:hover{
    background-color: #6bbbdd;
}

.contenu{
    font-family: 'Abhaya Libre', serif;
    margin: 20px;
}


.productImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
}
img{
    max-height: 100%;
    max-width: 100%;
}

h2{
    margin: 30px;
    font-family: 'Abhaya Libre', serif;
    font-size: 2.5rem;
}

.productCategorie{
    position: relative;
    left: 20px;
    background-color: #D9D9D9;
    padding: 2px 15px;
    width: max-content;
    border-radius: 15px;
}

.heartIcon{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 30px;
}

.productBottomPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productPrice{
    color: #249B3E;
    font-size: 3rem;
    position: relative;
    right: 20px;
}
