.subheader {
    height: 69px;
    background-color: #EDEDED;
    box-shadow: 0px 3px 3px #b7b4b4;
}
a{
    text-decoration: none;
}

.elements{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100vw;
}

.element{
    background-color: #5BD0F4;
    padding: 9px 14px;
    gap: 10px;
    border-radius: 20px;
}